html,body{
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans';
    background: #554f4f;
    color: white;;
}

a{
    text-decoration: none;
    color:white;
}

#navbar{
    background: #136cbe;
    z-index: 50;
    height: 50px;
    width: 100%;  
    position: fixed;
    top:0px; 
}

#welcome-section{
    display: flex;
    position: relative;
    top:50px;
    z-index:40;
    height: 100vh;
    background-color: darkgrey;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
