html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    background: #554f4f;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
}

#navbar{
    background: #136cbe;
    z-index: 50;
    height: 50px;
    width: 100%;  
    position: fixed;
    top:0px;
    text-align: right;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

#welcome-section{
    z-index:40;
    height: 100vh;
    background-color: darkgrey;
}

#contact{
    text-align: right;
}

#projects, #welcome-section, #profile-link{
    position: relative;
    top: 50px;
}

h1{
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
